<h3>Motorbikes</h3>

<div>
    <label for="new-product">MotoBike name: </label>
    <input id="new-product" #productName />
    <button type="button" class="add-button" (click)="add(productName.value); productName.value=''">
        Add MotoBike</button>
</div>

<ul class="products">
    <li *ngFor="let product of products"> <!--this is to be able to iterate through le list of products, so it wont cause an error-->
       <a routerLink="/detail/{{product.id}}">
            <span class="badge">{{product.id}} </span> {{product.name}}
        </a>
        <button type="button" class="delete" title="delete product" (click)="delete(product)">X</button>
    </li>
</ul>
